<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="utf-8">
    <title>tail log</title>
    <script type="text/javascript" th:src="@{/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery.custom.imitate.editor-v1.0.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/svg.min.js}"></script>
    <script type="text/javascript" th:src="@{/svg.draggable.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/graph.css}" />
    <script type="text/javascript">
		$(document).ready(function(){
			//=======================================================svg代码==================================================================//
			//see https://svgjs.com
			var board  = SVG('g-board').size(3000, 3000);

			$('div[draggable="true"]').draggable({
				helper:'clone',
				cursor: 'crosshair',
				drag:function(event, ui){
					var leftX = $('.g-left-panel').width();
					var topY = $('.g-unit-list-header').height();
					//console.debug('left:' + (ui.offset.left - leftX) + ',top:' + (ui.offset.top - topY));
				},
				stop:function(event, ui){
					if(inBoard($(this).left, $(this).top)){
						var leftX = $('.g-left-panel').width();
						var topY = $('.g-unit-list-header').height();
						//未加滚动条
						var x = ui.offset.left - leftX;
						var y = ui.offset.top - topY;
						var group = board.group().attr('class', 'g-unit-group');
						group.attr('transform', 'translate(' + x + ' ' + y +')');
						group.rect(219, 32).addClass('algorithm g-unit-body');
						group.rect(31, 30).addClass('g-unit-icon-container g-unit-icon-container-algorithm').attr('x','1').attr('y','1');
						group.text($(this).text()).addClass('g-unit-name').attr('x', '109.5').attr('y', '-2');
						group.draggable({
							x:x,
							y:y
						});
						var $group = $('#' + group.attr('id'));
					}
				}
			});

			//动态绑定事件
			$('#g-board').on('click', 'g', function(event){
				$(this).focus();
			})
			$('#g-board').on('keydown', 'g', function(event){
				if(event.keyCode==46){
					SVG.get($(this).attr('id')).remove();
				}
			});

            //=======================================================初始化=================================================//
			$(".textarea").initTextarea();
            $('.g-code-view').hide();
		})

		//判断是否在设计区域内
		function inBoard(x, y){
			return true;
		}

		//==============================================工具栏============================================================//
		//切换代码
		function switchCode(){
		    $('.g-board-container').toggle();
            $('.g-code-view').toggle();
            if($('#btnCode').text()=='切换为代码视图'){
                $('#btnCode').text('切换为设计视图')
            }else{
                $('#btnCode').text('切换为代码视图')
            }
		}

        //运行
       function runCode(){
            // 指定websocket路径
            var websocket = new WebSocket('ws://localhost:8080/log');
            websocket.onmessage = function(event) {
                // 接收服务端的实时日志并添加到HTML页面中
                $("#log-container div").append(event.data);
                // 滚动条滚动到最低部
                $("#log-container").scrollTop($("#log-container div").height() - $("#log-container").height());
            };
       }
    </script>
    <style>
		.textarea{
            width:100%;
            height:500px;
            font-size: 16px;
        }
	</style>
</head>
<body>
<div class="main">
    <div class="g-main">
        <div class="g-left-panel">
            <div class="g-unit-list-header">工具箱</div>
            <div class="g-unit-list-body">
                <div class="g-unit-list-category-header">算法</div>
                <div class="ant-collapse-content">
                    <div class="ant-collapse-content-box">
                        <div class="g-unit-list-item-wrapper">
                            <div class="g-unit-list-item" draggable="true">线性回归</div>
                            <div class="g-unit-list-item" draggable="true">逻辑回归</div>
                            <div class="g-unit-list-item" draggable="true">LeNet-5</div>
                            <div class="g-unit-list-item" draggable="true">AlexNet</div>
                        </div>
                    </div>
                </div>
                <div class="g-unit-list-category-header">数据</div>
                <div class="ant-collapse-content">
                    <div class="ant-collapse-content-box">
                        <div class="g-unit-list-item-wrapper">
                            <div class="g-unit-list-item" draggable="true">文本数据导入</div>
                            <div class="g-unit-list-item" draggable="true">数据分割</div>
                        </div>
                    </div>
                </div>
                <div class="g-unit-list-category-header">训练</div>
                <div class="ant-collapse-content">
                    <div class="ant-collapse-content-box">
                        <div class="g-unit-list-item-wrapper">
                            <div class="g-unit-list-item" draggable="true">普通训练</div>
                            <div class="g-unit-list-item" draggable="true">图像训练</div>
                        </div>
                    </div>
                </div>
                <div class="g-unit-list-category-header">测试</div>
                <div class="ant-collapse-content">
                    <div class="ant-collapse-content-box">
                        <div class="g-unit-list-item-wrapper">
                            <div class="g-unit-list-item" draggable="true">普通验证测试</div>
                            <div class="g-unit-list-item" draggable="true">图像验证测试</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="g-center-panel">
            <div class="g-action-bar">
                <div class="g-action-bar-switch" onClick="switchCode();">切换为代码视图</div>
                <div class="g-action-bar-switch" onClick="runCode();">运行</div>
                <div class="g-action-bar-switch">终止</div>
                <div class="g-action-bar-switch">保存</div>
                <div class="g-action-bar-switch">部署</div>
            </div>
            <!--设计器视图-->
            <div class="g-board-container">
                <div class="g-board-main" id="g-board">

                </div>
            </div>
            <!--代码视图-->
            <div class="g-code-view">
				<textarea name="code-content" class="textarea">
# coding=utf-8

import json
import paddle.fluid as fluid
import sys
import time
				</textarea>
            </div>
            <div class="g-bottom-panel">
                <div class="g-bottom-panel-board-main" data-collapsed="false">
                    <div class="g-output-empty" id="log-container">
                        <div>任务开始执行后，会有日志输出。</div>
                        <div class="g-output-submit">开始执行</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="g-right-panel">
            <div class="g-right-main">
                <div class="g-right-top">属性</div>
                <div class="g-right-content">
                    <div class="g-right-unit-info">
                        <div class="g-unit-control">
                            <div class="g-unit-control-name">线性回归</div>
                            <div class="g-unit-control-right"></div>
                        </div>
                        <div class="g-unit-info-container">
                            <div class="g-unit-info-header"><p>单元信息</p></div>
                            <div class="g-unit-info-content">
                                <div class="g-unit-info-title">单元类型</div>
                                <div class="g-unit-info-text">算法</div>
                                <div class="g-unit-info-title">单元描述</div>
                                <div class="g-unit-info-text">线性回归算法, 用于线性预测</div>
                            </div>
                        </div>
                        <div class="g-connection-info-container">
                            <div class="g-connection-info-header"><p>连接信息</p></div>
                            <div class="g-connection-info-empty">该单元尚未与任何其他单元链接</div>
                        </div>
                    </div>
                    <div class="g-quick-guide">
                        <div class="g-quick-guide-title">快速帮助</div>
                        <div class="g-quick-guide-content">线性回归算法, 用于线性预测</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>