<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>模型封装配置化页面</title>
    <script type="text/javascript" th:src="@{/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{/jquery.custom.imitate.editor-v1.0.js}"></script>
    <style>
        .textarea{
            width:800px;
            height:150px;
            font-size: 16px;
        }
    </style>
</head>
<body>
<form id="modelForm" action="/model/save" method="post">
<!-- 模型选择 -->
<div class="col">
    <h2>第一步：选择模型</h2>
    容器环境IP地址：<input name="ip" type="text" value="192.168.56.102"/>
    <table class="table table-bordered">
        <thead>
            <th>序号</th>
            <th>模型名称</th>
        </thead>
        <tbody>
            <tr th:each="model,modelStat : ${models}">
                <td th:text="${modelStat.index+1}"></td>
                <td th:text="${model}"></td>
                <input name="modelFile" type="hidden" value="iris.model"/>
            </tr>
        </tbody>
    </table>
    *模型格式:
    <input type="radio" name="modelType" value="joblib" checked>sklean(joblib)</input>
    <input type="radio" name="modelType" value="keras">tensorflow(keras)</input>
    目前只支持joblib和keras两种模型文件的格式
</div>

<!-- 参数选择 -->
<div class="col">
    <h2>第二步：填写输入（自定义转化器）</h2>
    <table class="table table-bordered">
        <thead>
        <th>输入参数</th>
        <th>类型</th>
        <th>是否必填</th>
        <th>默认值</th>
        </thead>
        <tbody>
        <tr>
            <td><input name="params_in_name" value="data"/></td>
            <td>
                <select name="params_in_type">
                    <option>int</option>
                    <option selected>字符</option>
                    <option>Base64</option>
                </select>
            </td>
            <td>
                <select name="params_in_isRequired">
                    <option>必填</option>
                    <option>非必填</option>
                </select>
            </td>
            <td>
                <input name="params_in_default" value="{'x1':'1.2344'，'x2':'1.46434'}"/>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>第二步：填写输出(自定义转化器)</h2>
    <table class="table table-bordered">
        <thead>
        <th>输出参数</th>
        <th>类型</th>
        </thead>
        <tbody>
        <tr>
            <td><input name="params_out_name" value="result"/></td>
            <td>
                <select name="params_out_type">
                    <option>int</option>
                    <option selected>字符</option>
                    <option>Base64</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col">
    <h2>第三步：输入解析函数</h2>
    <div>
        <input name="params_def_input" value="0" type="radio" checked>默认解析函数</input>
        <input name="params_def_input" value="1" type="radio">自定义解析函数</input>
    </div>
    <div>
        <textarea name="params_def_input_text" class="textarea">def get_input(req_params):
    """ req_params要和第二步的输入参数一致
    :req_params:json格式，通过get("XX")获取数据
    :return:json格式
    """
    # 标准代码
    x=req_params.get("data")
    return np.array(x)
    # base64图像调用代码
    img_data = base64.b64decode(predict_data)
    with open('tmp.jpg', 'wb') as f: # 存成临时文件
        f.write(img_data)
    img = Image.open('tmp.jpg')
    return np.array(img)</textarea>
    </div>
</div>

<div class="col">
    <h2>第三步：输出解析函数</h2>
    <div>
        <input name="params_def_output" value="0" type="radio" checked>默认解析函数</input>
        <input name="params_def_output" value="1" type="radio">自定义解析函数</input>
    </div>
    <div>
        <textarea name="params_def_output_text" class="textarea">def get_output(out_params):
    """
    将结果转化成json格式，code=200表示返回成功，不能更改
    :param result:np.array类型
    :return:json格式
    """
    return jsonify(code=200, msg="success", result=out_params.tolist())</textarea>
    </div>
</div>


<div class="col">
    <h2>第四步：生成沙盒</h2>
    *模型名称: <input name="modelName" type="text" value="iris"/>
</div>
<div>
    <input type="button" onclick="genSanBox()" value="生成沙盒"/>
    <input type="button" onclick="saveModel()" value="暂存"/>
</div>
</form>
</body>
</html>
<script>
$(".textarea").initTextarea();

function genSanBox(){
    $('#modelForm').ajaxSubmit({
        url:'/model/genSanBox',
        success: function(data){
            if(data.code==200){
                alert('生成沙盒成功' + data.data.name);
                //跳转到模型列表页面
                window.location = '/model/list';
            }else{
                alert(data.msg)
            }
        }
    });
}

function saveModel(){
    $('#modelForm').ajaxSubmit({
        url:'/model/save',
        success: function(data){
            if(data.code==200){
                alert('保存成功' + data.data.name);
            }else{
                alert(data.msg)
            }
        }
    });
}
</script>