<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>模型测试页面</title>
    <script type="text/javascript" th:src="@{/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery.custom.imitate.editor-v1.0.js}"></script>
    <style>
        .textarea{
            width:800px;
            height:150px;
            font-size: 16px;
        }
    </style>
</head>
<body>
<div>
    <h2>第一步：填写输入参数</h2>
    注意：提交格式必须是Json格式，如果是图片，必选先转化成Base64格式，例如：
    <div style="width:800px;word-wrap:break-word;padding:10px;background:#eee">
        {"data":"iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAAAAABXZoBIAAABCUlEQVR4nGP8z4AbMOGRwy/JgmD2fL+0hiHTMhZJ9j8MhDExMTExMak+hIv8Z0CW0yr0Z2JqxZQ8zcqke//z/5+GTMWYkptYdJ/9//+/lZ1pHxZjH7z9////fz0mrJL//////7+Lg8nyKw7JzRxMEgeQ+CiBcOYXQ7g9AzZ//v/vz8mU8BnZJCTJZ6JMYnf+45C0ZGIq+o9DciM7k9NnVEm4g962/WYw4EGLFpiqSiamIDSNCGPZmZieocn9R4pPhnesDAwM/Ky/PzK872dgYO7kQpbUY2BgYAiVfLkSwpWoZoQlsKCNSMmDicHPhMHGEi7J0PWbgeHqSgaGJAWGIE2IECNtkib5kgAcdE6cN0FNlwAAAABJRU5ErkJggg=="}
    </div>
    <textarea id="model_input" class="textarea"></textarea>
    <br/><br/>
    点击测试:<input type="button" onclick="testModel();" value="点击测试"/>
    <br/><br/>
    <textarea id="model_output" class="textarea"></textarea>
</div>
</body>
</html>
<script>
$("#model_input, #model_output").initTextarea();
$('#model_input').val('{"data":"\[\[6.5, 3.0, 5.8, 2.2\]\]"}');

//不能直接掉服务，需要通过服务器转发请求
function testModel(){
    //检查传入参数是否为json格式
    if(!isJsonString($("#model_input").val())){
        alert('输出参数不是json格式!');
        return;
    }

    $.ajax({
        type:'post',
        url:"/model/invoke",
        data:{
            name:'iris',
            data:$('#model_input').val()
        },
        success:function(result){
            if(result.code==200){
                $('#model_output').val(JSON.stringify(result.data));
            }else{
                $('#model_output').val(result.msg);
            }
        },
        error:function(){
            alert('调用失败');
        }
    });
}

function isJsonString(obj) {
    try {
        if (typeof JSON.parse(obj) == "object") {
            return true;
        }
    } catch(e) {
        return false;
    }
    return false;
}
</script>